* {
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
    color: azure;
    font-weight: 700;
    font-size: 20px;
}
.header{
    background: #FFF8F3;
   background-image: url('../Developer-protfolio/images/developer.png');
}
/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    Weight: 800;
    Size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner style */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}